body{
    font-family: 'Great Vibes', cursive;
background:url('Hogwarts-Castle.avif');
background-size: cover;
}
.header_div{
    background:black;
    color: white;
}
.header_div p{
    font-family: 'Great Vibes', cursive;
    letter-spacing: 2px;
    font-size: 15px;
    font-weight: bold;
}
.main_div button{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 35px;
    width: 130px;
    font-weight: bolder;
    letter-spacing: 5px;
    font-size: larger;
}
.copy_right_footer{
    position: fixed;
    color: black;
    background-color: white;
    bottom: 0;
    width: 100%;
    font-size: 35px;
    line-height: 2;
    text-align: center;
    text-shadow: 10px 10px 10px black;
}
#result_label {
background-color: black;
color: white;
font-size: 30px;
font-weight: bold;
width: fit-content;
}
#result_confidence {
    background-color: black;
    color: white;
    font-size: 30px;
    font-weight: bold;
    width: fit-content;
    }